.home {
    position: relative;

    .text__image{

        .row {

            .text{
                padding: 8rem 0 0 5rem;
                .success {
                    button {
                        background: rgb(243, 97, 97);
                        border-radius: 20px;
                        border: none;
                        &:hover{
                            background: rgb(243, 9, 97);
                        }
                    }
                }
            }
        }
        
    }

    .market {
        position: fixed;
        width: 60px;
        height: 60px;
        background: $colorBlue;
        bottom: 50%;
        right: 0;
        z-index: 100;
        @include center;
        border-radius: 15px 0 0 15px;
        color: white;
        span {
            color: white;
            position: absolute;
            top: 4%;
            right: 18px;
            width: 15px;
            height: 15px;
            background: red;
            @include center;
            border-radius: 15px;
            padding: .6rem;
            font-weight: bold;
        }
        .icon--market{
            font-size: 1.5rem;
        }
    }

    .produits {
        margin-top: 30px;
        margin-bottom: 40px;
        .card{
            border-radius: 10px;
            height: 215px;
            width: 22.5rem;
            
        }
    }
    .products{
        .card{
            margin: 1rem .5rem 1rem;
            border-radius: 10px;

            button {
                
                &:nth-child(1) {
                    border-radius: 10px;
                    padding: .5rem 2.4rem;
                }
                &:nth-child(2){
                    border-radius: 15px;
                    padding: .5rem 1rem;
                    
                }
            }
        }   
    }
}


