
*, *::after, *::before{
    outline: none;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}


$colorBlue: blue;
$colorBlack: #333;

a{
    text-decoration: none;
    color: $colorBlack;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

